<md-expansion-panel-group flex="100" layout="column">

    <md-expansion-panel flex ng-repeat="(modulo, permissoes) in $component.permissions | groupBy:'modulo'" md-component-id="panel-{{modulo}}">

        <md-expansion-panel-collapsed flex layout="row" >
            <md-expansion-panel-icon style="cursor: pointer;"></md-expansion-panel-icon>
            <a flex ng-click="$component.toggle($panel)" style="cursor: pointer;" md-truncate>
                <span class="md-title" >Módulo {{ modulo }}</span>
            </a>
        </md-expansion-panel-collapsed>

        <md-expansion-panel-expanded flex>

            <md-expansion-panel-header>
                <a ng-click="$component.toggle($panel)" style="cursor: pointer;" aria-label="panel-header-{{modulo}}">
                    <md-expansion-panel-icon ></md-expansion-panel-icon>
                </a>
                
                <a flex ng-click="$component.toggle($panel)" style="cursor: pointer;" md-truncate>
                    <span class="md-title">Módulo {{ modulo }}</span>
                </a>
                
                <div style="margin-right: 70px;" >

                    <md-checkbox
                            ng-click="$component.toggleAllPermissions(modulo)"
                            ng-checked="$component.isAllModuleSelected(modulo)"
                            ng-disabled="$component.isDisabled"
                            aria-label="allow-all-{{modulo}}"></md-checkbox>
                    <md-tooltip md-direction="top">
                        Selecionar todas
                    </md-tooltip>
                    
                </div>
            </md-expansion-panel-header>

            <md-expansion-panel-content flex>
                <md-list>
                    <md-list-item
                            ng-repeat="permission in permissoes"
                            ng-disabled="$component.isDisabled"
                            ng-click="$component.togglePermission(permission)"
                            aria-label="{{permission.slug}}" layout="row">
                        <p flex layout-align="start start" md-truncate>
                            {{ permission.name }}
                        </p>
                        <md-checkbox
                                ng-if="!$component.isDisabled"
                                ng-disabled="$component.isDisabled"
                                ng-checked="$component.exists(permission)"
                                class="md-secondary"
                                name="allow"
                                ng-click="$component.togglePermission(permission)"
                                aria-label="allow-{{ permission.slug }}">
                        </md-checkbox>

                        <md-checkbox
                                ng-if="$component.isDisabled"
                                ng-disabled="$component.isDisabled"
                                ng-checked="$component.exists(permission)"
                                disabled="disabled"
                                name="allow"
                                class="md-secondary"
                                aria-label="allow-{{ permission.slug }}">
                        </md-checkbox>
                        <md-icon class="md-secondary material-icons" ng-click="$component.showDescription(permission.description)" aria-label="help-{{ permission.slug }}">help</md-icon>
                    </md-list-item>
                </md-list>
            </md-expansion-panel-content>

        </md-expansion-panel-expanded>

    </md-expansion-panel>

</md-expansion-panel-group>