<ng-form name="_form_{{$ctrl.name}}">
    <md-card class="search-card" layout="row">
        <md-input-container md-no-float style="margin: 0;" md-is-error="$ctrl.model.$invalid && $ctrl.model.$touched" layout-margin flex>
            <input type="text"
                   placeholder="{{$ctrl.label}}"

                   name="{{ $ctrl.name }}"
                   id="{{ $ctrl.name }}"

                   ng-model="$ctrl.value"
                   ng-change="$ctrl.onChange()"
                   ng-model-options="{allowInvalid: true, debounce: 250}"

                   ng-required="$ctrl.isRequired"
                   ng-disabled="$ctrl.isDisabled"

                   ng-minlength="$ctrl.minLength"
                   ng-maxlength="$ctrl.maxLength"

                   md-maxlength="$ctrl.maxLength"

                   maxlength="{{$ctrl.maxLength }}"
                   ng-focus="$ctrl.isDisabled || $ctrl.model.$setTouched()"
                   ng-click="$ctrl.isDisabled || $ctrl.model.$setTouched()">
            <div ng-messages="$ctrl.model.$error" ng-show="$ctrl.model.$dirty || $ctrl.model.$touched" >
                <ng-transclude></ng-transclude>
            </div>
        </md-input-container>
        <md-button ng-if="($ctrl.value == '' || $ctrl.value == null)" class="md-icon-button" aria-label="search" ng-disabled="$ctrl.isDisabled">
            <md-icon  class="material-icons" >search</md-icon>
        </md-button>
        <md-button  ng-if="!($ctrl.value == '' || $ctrl.value == null)" ng-click="$ctrl.clean()" class="md-icon-button" aria-label="close" ng-disabled="$ctrl.isDisabled">
            <md-icon  class="material-icons" >close</md-icon>
        </md-button>
    </md-card>
</ng-form>