<ng-form name="_form_{{$ctrl.name}}">
    <md-input-container flex-gt-lg class="md-block" md-is-error="$ctrl.model.$invalid && $ctrl.model.$touched">
        <md-icon class="material-icons" ng-if="$ctrl.icon">{{ $ctrl.icon }}</md-icon>
        <input
                type="{{$ctrl.type}}"
                placeholder="{{$ctrl.label}}"

                name="{{ $ctrl.name }}"
                id="{{ $ctrl.name }}"

                ng-model="$ctrl.value"
                ng-change="$ctrl.onChange()"
                ng-model-options="{allowInvalid: true, debounce: 250}"

                ng-required="$ctrl.isRequired"
                ng-disabled="$ctrl.isDisabled"

                ng-minlength="{{ $ctrl.minLength }}"
                ng-maxlength="{{ $ctrl.maxLength }}"

                md-maxlength="{{ $ctrl.maxLength }}"

                maxlength="{{ $ctrl.maxLength }}"
                ng-focus="$ctrl.isDisabled || $ctrl.model.$setTouched()"
                ng-click="$ctrl.isDisabled || $ctrl.model.$setTouched()" >

        <div ng-messages="$ctrl.model.$error" ng-show="$ctrl.model.$dirty || $ctrl.model.$touched" >
            <ng-transclude></ng-transclude>
        </div>
    </md-input-container>
</ng-form>