<ng-form name="form" ng-init="$controller.pushScope(this)">
    <md-content layout="column" layout-padding>

        <div class="orpha-radio-group" layout="row" layout-align="start center" >
            <span class="md-subhead orpha-radio-label">Acolhimento</span>
            <md-radio-group
                    ng-init="$controller.informacoesdafamilia.atendimento_realizado_acolhimento = $controller.informacoesdafamilia.atendimento_realizado_acolhimento || false"
                    ng-model="$controller.informacoesdafamilia.atendimento_realizado_acolhimento"
                    ng-required="true"
                    ng-disabled="$controller.isReadOnly"
                    layout="row">
                <md-radio-button ng-value="true" class="md-primary">Sim</md-radio-button>
                <md-radio-button ng-value="false">Não</md-radio-button>
            </md-radio-group>
        </div>

        <div class="orpha-radio-group" layout="row" layout-align="start center">
            <span class="md-subhead orpha-radio-label">Esclarecimento sobre fluxo do processo/ JIJ</span>
            <md-radio-group
                    ng-init="$controller.informacoesdafamilia.atendimento_realizado_esclarecimento_fluxo_processo = $controller.informacoesdafamilia.atendimento_realizado_esclarecimento_fluxo_processo || false"
                    ng-model="$controller.informacoesdafamilia.atendimento_realizado_esclarecimento_fluxo_processo"
                    ng-required="true"
                    ng-disabled="$controller.isReadOnly"
                    layout="row">
                <md-radio-button ng-value="true" class="md-primary">Sim</md-radio-button>
                <md-radio-button ng-value="false">Não</md-radio-button>
            </md-radio-group>
        </div>

        <div class="orpha-radio-group" layout="row" layout-align="start center">
            <span class="md-subhead orpha-radio-label">Orientação sobre Medidas Socioeducativas</span>
            <md-radio-group
                    ng-init="$controller.informacoesdafamilia.atendimento_realizado_orientacao_sobre_medidas_socioeducativas = $controller.informacoesdafamilia.atendimento_realizado_orientacao_sobre_medidas_socioeducativas || false"
                    ng-model="$controller.informacoesdafamilia.atendimento_realizado_orientacao_sobre_medidas_socioeducativas"
                    ng-required="true"
                    ng-disabled="$controller.isReadOnly"
                    layout="row">
                <md-radio-button ng-value="true" class="md-primary">Sim</md-radio-button>
                <md-radio-button ng-value="false">Não</md-radio-button>
            </md-radio-group>
        </div>

        <div class="orpha-radio-group" layout="row" layout-align="start center">
            <span class="md-subhead orpha-radio-label">Encaminhado a Grupo de Pais / Responsáveis</span>
            <md-radio-group
                    ng-init="$controller.informacoesdafamilia.atendimento_realizado_encaminhado_grupo_pais_responsaveis = $controller.informacoesdafamilia.atendimento_realizado_encaminhado_grupo_pais_responsaveis || false"
                    ng-model="$controller.informacoesdafamilia.atendimento_realizado_encaminhado_grupo_pais_responsaveis"
                    ng-required="true"
                    ng-disabled="$controller.isReadOnly"
                    layout="row">
                <md-radio-button ng-value="true" class="md-primary">Sim</md-radio-button>
                <md-radio-button ng-value="false">Não</md-radio-button>
            </md-radio-group>
        </div>

        <text-area-input name="outros" label="Outros" is-disabled="$controller.isReadOnly" ng-model="$controller.informacoesdafamilia.atendimento_realizado_outros"></text-area-input>

    </md-content>
</ng-form>