<ng-form name="form" ng-init="$controller.pushScope(this)">
    <md-content layout="column" layout-padding>

        <div class="orpha-radio-group" layout="row" layout-align="start center" >
            <span class="md-subhead orpha-radio-label">Reflexão sobre Ato infracional cometido</span>
            <md-radio-group
                    ng-init="$controller.atividadessocioeducativas.educacao_cidadania_reflexao_ato_infracional = $controller.atividadessocioeducativas.educacao_cidadania_reflexao_ato_infracional || false"
                    ng-model="$controller.atividadessocioeducativas.educacao_cidadania_reflexao_ato_infracional"
                    ng-required="true"
                    ng-disabled="$controller.isReadOnly"
                    layout="row">
                <md-radio-button ng-value="true" class="md-primary">Sim</md-radio-button>
                <md-radio-button ng-value="false">Não</md-radio-button>
            </md-radio-group>
        </div>

        <div class="orpha-radio-group" layout="row" layout-align="start center">
            <span class="md-subhead orpha-radio-label">Orientação sobre Medidas Socioeducativas</span>
            <md-radio-group
                    ng-init="$controller.atividadessocioeducativas.educacao_cidadania_orientacao_medidas_socioeducativas = $controller.atividadessocioeducativas.educacao_cidadania_orientacao_medidas_socioeducativas || false"
                    ng-model="$controller.atividadessocioeducativas.educacao_cidadania_orientacao_medidas_socioeducativas"
                    ng-required="true"
                    ng-disabled="$controller.isReadOnly"
                    layout="row">
                <md-radio-button ng-value="true" class="md-primary">Sim</md-radio-button>
                <md-radio-button ng-value="false">Não</md-radio-button>
            </md-radio-group>
        </div>

        <div class="orpha-radio-group" layout="row" layout-align="start center">
            <span class="md-subhead orpha-radio-label">Orientação para o mundo do trabalho</span>
            <md-radio-group
                    ng-init="$controller.atividadessocioeducativas.educacao_cidadania_orientacao_mundo_trabalho = $controller.atividadessocioeducativas.educacao_cidadania_orientacao_mundo_trabalho || false"
                    ng-model="$controller.atividadessocioeducativas.educacao_cidadania_orientacao_mundo_trabalho"
                    ng-required="true"
                    ng-disabled="$controller.isReadOnly"
                    layout="row">
                <md-radio-button ng-value="true" class="md-primary">Sim</md-radio-button>
                <md-radio-button ng-value="false">Não</md-radio-button>
            </md-radio-group>
        </div>

        <div class="orpha-radio-group" layout="row" layout-align="start center">
            <span class="md-subhead orpha-radio-label">Empreendedorismo</span>
            <md-radio-group
                    ng-init="$controller.atividadessocioeducativas.educacao_cidadania_empreendedorismo = $controller.atividadessocioeducativas.educacao_cidadania_empreendedorismo || false"
                    ng-model="$controller.atividadessocioeducativas.educacao_cidadania_empreendedorismo"
                    ng-required="true"
                    ng-disabled="$controller.isReadOnly"
                    layout="row">
                <md-radio-button ng-value="true" class="md-primary">Sim</md-radio-button>
                <md-radio-button ng-value="false">Não</md-radio-button>
            </md-radio-group>
        </div>

        <div class="orpha-radio-group" layout="row" layout-align="start center">
            <span class="md-subhead orpha-radio-label">Constituição Federal</span>
            <md-radio-group
                    ng-init="$controller.atividadessocioeducativas.educacao_cidadania_constituicao_federal = $controller.atividadessocioeducativas.educacao_cidadania_constituicao_federal || false"
                    ng-model="$controller.atividadessocioeducativas.educacao_cidadania_constituicao_federal"
                    ng-required="true"
                    ng-disabled="$controller.isReadOnly"
                    layout="row">
                <md-radio-button ng-value="true" class="md-primary">Sim</md-radio-button>
                <md-radio-button ng-value="false">Não</md-radio-button>
            </md-radio-group>
        </div>

        <div class="orpha-radio-group" layout="row" layout-align="start center">
            <span class="md-subhead orpha-radio-label">ECA – Direitos e Deveres</span>
            <md-radio-group
                    ng-init="$controller.atividadessocioeducativas.educacao_cidadania_eca_direitos_deveres = $controller.atividadessocioeducativas.educacao_cidadania_eca_direitos_deveres || false"
                    ng-model="$controller.atividadessocioeducativas.educacao_cidadania_eca_direitos_deveres"
                    ng-required="true"
                    ng-disabled="$controller.isReadOnly"
                    layout="row">
                <md-radio-button ng-value="true" class="md-primary">Sim</md-radio-button>
                <md-radio-button ng-value="false">Não</md-radio-button>
            </md-radio-group>
        </div>

        <div class="orpha-radio-group" layout="row" layout-align="start center">
            <span class="md-subhead orpha-radio-label">Família</span>
            <md-radio-group
                    ng-init="$controller.atividadessocioeducativas.educacao_cidadania_familia = $controller.atividadessocioeducativas.educacao_cidadania_familia || false"
                    ng-model="$controller.atividadessocioeducativas.educacao_cidadania_familia"
                    ng-required="true"
                    ng-disabled="$controller.isReadOnly"
                    layout="row">
                <md-radio-button ng-value="true" class="md-primary">Sim</md-radio-button>
                <md-radio-button ng-value="false">Não</md-radio-button>
            </md-radio-group>
        </div>

        <div class="orpha-radio-group" layout="row" layout-align="start center">
            <span class="md-subhead orpha-radio-label">Coletividade</span>
            <md-radio-group
                    ng-init="$controller.atividadessocioeducativas.educacao_cidadania_coletividade = $controller.atividadessocioeducativas.educacao_cidadania_coletividade || false"
                    ng-model="$controller.atividadessocioeducativas.educacao_cidadania_coletividade"
                    ng-required="true"
                    ng-disabled="$controller.isReadOnly"
                    layout="row">
                <md-radio-button ng-value="true" class="md-primary">Sim</md-radio-button>
                <md-radio-button ng-value="false">Não</md-radio-button>
            </md-radio-group>
        </div>

        <div class="orpha-radio-group" layout="row" layout-align="start center">
            <span class="md-subhead orpha-radio-label">Orientação para a importância do processo de escolarização e qualificação profissional</span>
            <md-radio-group
                    ng-init="$controller.atividadessocioeducativas.educacao_cidadania_orientacao_processo_escolarizacao = $controller.atividadessocioeducativas.educacao_cidadania_orientacao_processo_escolarizacao || false"
                    ng-model="$controller.atividadessocioeducativas.educacao_cidadania_orientacao_processo_escolarizacao"
                    ng-required="true"
                    ng-disabled="$controller.isReadOnly"
                    layout="row">
                <md-radio-button ng-value="true" class="md-primary">Sim</md-radio-button>
                <md-radio-button ng-value="false">Não</md-radio-button>
            </md-radio-group>
        </div>

        <text-area-input name="outros" label="Outros" is-disabled="$controller.isReadOnly" ng-model="$controller.atividadessocioeducativas.educacao_cidadania_outros"></text-area-input>

    </md-content>
</ng-form>