<ng-form name="form" ng-init="$controller.pushScope(this)">
    <md-content layout="column" layout-padding>

        <div class="orpha-radio-group" layout="row" layout-align="start center" >
            <span class="md-subhead orpha-radio-label">Poluição e cuidados: água, ar, terra</span>
            <md-radio-group
                    ng-init="$controller.atividadessocioeducativas.educacaoemeioambiente_poluicao_cuidados = $controller.atividadessocioeducativas.educacaoemeioambiente_poluicao_cuidados || false"
                    ng-model="$controller.atividadessocioeducativas.educacaoemeioambiente_poluicao_cuidados"
                    ng-required="true"
                    ng-disabled="$controller.isReadOnly"
                    layout="row">
                <md-radio-button ng-value="true" class="md-primary">Sim</md-radio-button>
                <md-radio-button ng-value="false">Não</md-radio-button>
            </md-radio-group>
        </div>

        <div class="orpha-radio-group" layout="row" layout-align="start center">
            <span class="md-subhead orpha-radio-label">Material reciclável</span>
            <md-radio-group
                    ng-init="$controller.atividadessocioeducativas.educacaoemeioambiente_material_reciclavel = $controller.atividadessocioeducativas.educacaoemeioambiente_material_reciclavel || false"
                    ng-model="$controller.atividadessocioeducativas.educacaoemeioambiente_material_reciclavel"
                    ng-required="true"
                    ng-disabled="$controller.isReadOnly"
                    layout="row">
                <md-radio-button ng-value="true" class="md-primary">Sim</md-radio-button>
                <md-radio-button ng-value="false">Não</md-radio-button>
            </md-radio-group>
        </div>

        <div class="orpha-radio-group" layout="row" layout-align="start center">
            <span class="md-subhead orpha-radio-label">Sustentabilidade</span>
            <md-radio-group
                    ng-init="$controller.atividadessocioeducativas.educacaoemeioambiente_sustentabilidade = $controller.atividadessocioeducativas.educacaoemeioambiente_sustentabilidade || false"
                    ng-model="$controller.atividadessocioeducativas.educacaoemeioambiente_sustentabilidade"
                    ng-required="true"
                    ng-disabled="$controller.isReadOnly"
                    layout="row">
                <md-radio-button ng-value="true" class="md-primary">Sim</md-radio-button>
                <md-radio-button ng-value="false">Não</md-radio-button>
            </md-radio-group>
        </div>

        <!--<text-area-input name="outros" label="Outros" is-disabled="$controller.isReadOnly" ng-model="$controller.atividadessocioeducativas.educacaoemeioambiente_outros"></text-area-input>-->

    </md-content>
</ng-form>