<ng-form name="form" ng-init="$controller.pushScope(this)">
    <md-content layout="column" layout-padding>

        <div class="orpha-radio-group" layout="row" layout-align="start center" >
            <span class="md-subhead orpha-radio-label">Alimentação</span>
            <md-radio-group
                    ng-init="$controller.atividadessocioeducativas.educacao_saude_alimentacao = $controller.atividadessocioeducativas.educacao_saude_alimentacao || false"
                    ng-model="$controller.atividadessocioeducativas.educacao_saude_alimentacao"
                    ng-required="true"
                    ng-disabled="$controller.isReadOnly"
                    layout="row">
                <md-radio-button ng-value="true" class="md-primary">Sim</md-radio-button>
                <md-radio-button ng-value="false">Não</md-radio-button>
            </md-radio-group>
        </div>

        <div class="orpha-radio-group" layout="row" layout-align="start center">
            <span class="md-subhead orpha-radio-label">Cuidado e Higiene Pessoal</span>
            <md-radio-group
                    ng-init="$controller.atividadessocioeducativas.educacao_saude_cuidado_higiene_pessoal = $controller.atividadessocioeducativas.educacao_saude_cuidado_higiene_pessoal || false"
                    ng-model="$controller.atividadessocioeducativas.educacao_saude_cuidado_higiene_pessoal"
                    ng-required="true"
                    ng-disabled="$controller.isReadOnly"
                    layout="row">
                <md-radio-button ng-value="true" class="md-primary">Sim</md-radio-button>
                <md-radio-button ng-value="false">Não</md-radio-button>
            </md-radio-group>
        </div>

        <div class="orpha-radio-group" layout="row" layout-align="start center">
            <span class="md-subhead orpha-radio-label">Exame preventivo periódico</span>
            <md-radio-group
                    ng-init="$controller.atividadessocioeducativas.educacao_saude_exame_preventivo_periodico = $controller.atividadessocioeducativas.educacao_saude_exame_preventivo_periodico || false"
                    ng-model="$controller.atividadessocioeducativas.educacao_saude_exame_preventivo_periodico"
                    ng-required="true"
                    ng-disabled="$controller.isReadOnly"
                    layout="row">
                <md-radio-button ng-value="true" class="md-primary">Sim</md-radio-button>
                <md-radio-button ng-value="false">Não</md-radio-button>
            </md-radio-group>
        </div>

        <div class="orpha-radio-group" layout="row" layout-align="start center">
            <span class="md-subhead orpha-radio-label">Métodos contraceptivos</span>
            <md-radio-group
                    ng-init="$controller.atividadessocioeducativas.educacao_saude_metodos_contraceptivos = $controller.atividadessocioeducativas.educacao_saude_metodos_contraceptivos || false"
                    ng-model="$controller.atividadessocioeducativas.educacao_saude_metodos_contraceptivos"
                    ng-required="true"
                    ng-disabled="$controller.isReadOnly"
                    layout="row">
                <md-radio-button ng-value="true" class="md-primary">Sim</md-radio-button>
                <md-radio-button ng-value="false">Não</md-radio-button>
            </md-radio-group>
        </div>

        <div class="orpha-radio-group" layout="row" layout-align="start center">
            <span class="md-subhead orpha-radio-label">Saúde Bucal</span>
            <md-radio-group
                    ng-init="$controller.atividadessocioeducativas.educacao_saude_saude_bucal = $controller.atividadessocioeducativas.educacao_saude_saude_bucal || false"
                    ng-model="$controller.atividadessocioeducativas.educacao_saude_saude_bucal"
                    ng-required="true"
                    ng-disabled="$controller.isReadOnly"
                    layout="row">
                <md-radio-button ng-value="true" class="md-primary">Sim</md-radio-button>
                <md-radio-button ng-value="false">Não</md-radio-button>
            </md-radio-group>
        </div>

        <div class="orpha-radio-group" layout="row" layout-align="start center">
            <span class="md-subhead orpha-radio-label">Saúde Mental</span>
            <md-radio-group
                    ng-init="$controller.atividadessocioeducativas.educacao_saude_saude_mental = $controller.atividadessocioeducativas.educacao_saude_saude_mental || false"
                    ng-model="$controller.atividadessocioeducativas.educacao_saude_saude_mental"
                    ng-required="true"
                    ng-disabled="$controller.isReadOnly"
                    layout="row">
                <md-radio-button ng-value="true" class="md-primary">Sim</md-radio-button>
                <md-radio-button ng-value="false">Não</md-radio-button>
            </md-radio-group>
        </div>

        <div class="orpha-radio-group" layout="row" layout-align="start center">
            <span class="md-subhead orpha-radio-label">Sexualidade/DST/AIDS</span>
            <md-radio-group
                    ng-init="$controller.atividadessocioeducativas.educacao_saude_sexualidade = $controller.atividadessocioeducativas.educacao_saude_sexualidade || false"
                    ng-model="$controller.atividadessocioeducativas.educacao_saude_sexualidade"
                    ng-required="true"
                    ng-disabled="$controller.isReadOnly"
                    layout="row">
                <md-radio-button ng-value="true" class="md-primary">Sim</md-radio-button>
                <md-radio-button ng-value="false">Não</md-radio-button>
            </md-radio-group>
        </div>

        <div class="orpha-radio-group" layout="row" layout-align="start center">
            <span class="md-subhead orpha-radio-label">Paternidade/Maternidade responsável</span>
            <md-radio-group
                    ng-init="$controller.atividadessocioeducativas.educacao_saude_paternidade = $controller.atividadessocioeducativas.educacao_saude_paternidade || false"
                    ng-model="$controller.atividadessocioeducativas.educacao_saude_paternidade"
                    ng-required="true"
                    ng-disabled="$controller.isReadOnly"
                    layout="row">
                <md-radio-button ng-value="true" class="md-primary">Sim</md-radio-button>
                <md-radio-button ng-value="false">Não</md-radio-button>
            </md-radio-group>
        </div>

        <div class="orpha-radio-group" layout="row" layout-align="start center">
            <span class="md-subhead orpha-radio-label">Programa de Tuberculose</span>
            <md-radio-group
                    ng-init="$controller.atividadessocioeducativas.educacao_saude_programa_tuberculose = $controller.atividadessocioeducativas.educacao_saude_programa_tuberculose || false"
                    ng-model="$controller.atividadessocioeducativas.educacao_saude_programa_tuberculose"
                    ng-required="true"
                    ng-disabled="$controller.isReadOnly"
                    layout="row">
                <md-radio-button ng-value="true" class="md-primary">Sim</md-radio-button>
                <md-radio-button ng-value="false">Não</md-radio-button>
            </md-radio-group>
        </div>

        <div class="orpha-radio-group" layout="row" layout-align="start center">
            <span class="md-subhead orpha-radio-label">Programa de Hanseníase</span>
            <md-radio-group
                    ng-init="$controller.atividadessocioeducativas.educacao_saude_programa_hanseniase = $controller.atividadessocioeducativas.educacao_saude_programa_hanseniase || false"
                    ng-model="$controller.atividadessocioeducativas.educacao_saude_programa_hanseniase"
                    ng-required="true"
                    ng-disabled="$controller.isReadOnly"
                    layout="row">
                <md-radio-button ng-value="true" class="md-primary">Sim</md-radio-button>
                <md-radio-button ng-value="false">Não</md-radio-button>
            </md-radio-group>
        </div>

        <div class="orpha-radio-group" layout="row" layout-align="start center">
            <span class="md-subhead orpha-radio-label">Uso/abuso de álcool e drogas</span>
            <md-radio-group
                    ng-init="$controller.atividadessocioeducativas.educacao_saude_uso_abuso_alcool_drogas = $controller.atividadessocioeducativas.educacao_saude_uso_abuso_alcool_drogas || false"
                    ng-model="$controller.atividadessocioeducativas.educacao_saude_uso_abuso_alcool_drogas"
                    ng-required="true"
                    ng-disabled="$controller.isReadOnly"
                    layout="row">
                <md-radio-button ng-value="true" class="md-primary">Sim</md-radio-button>
                <md-radio-button ng-value="false">Não</md-radio-button>
            </md-radio-group>
        </div>

        <text-area-input name="outros" label="Outros" is-disabled="$controller.isReadOnly" ng-model="$controller.atividadessocioeducativas.educacao_saude_outros"></text-area-input>

    </md-content>
</ng-form>