<md-dialog aria-label="User Form"  flex="auto" flex-gt-sm="60" flex-gt-md="50">

    <form name="userForm" novalidate ng-submit="submit()" >

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}} {{ user.deleted_at ? '(Inativo)' : ''}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()" ng-disabled="loading">
                    <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-progress-linear md-mode="indeterminate" class="md-accent" ng-show="loading"></md-progress-linear>

        <md-dialog-content layout="row" flex layout-padding>

            <div flex="100">

                <div flex flex-gt-sm="100" layout="row" md-whiteframe="1" layout-align="center center" layout-wrap>
                    <span layout-padding flex></span>

                    <img class="md-avatar custom-avatar" ng-src="{{user.avatar || '../assets/profile/ic_account_circle_black_48dp_2x.png'}}"/>
                    <div ng-if="!readonly" flex>
                        <input
                                flex
                                class="ng-hide"
                                name="avatar"
                                id="avatar"
                                type="file"
                                accept="image/*"
                                ng-model="user.avatar"
                                custom-error
                                set-touched="{{editMode}}"
                                check-image
                                ng-disabled="loading || readonly"/>
                        <label flex for="avatar" class="md-button md-raised md-accent" ng-disabled="loading || readonly">
                            <md-icon class="material-icons">add_a_photo</md-icon>
                            <md-tooltip md-direction="right">Selecionar Imagem</md-tooltip>
                        </label>
                    </div>

                    <span flex></span>
                    <span flex="100"></span>
                    <div layout-padding class="custom-error" ng-if="userForm.avatar.$error.customError">{{userForm.avatar.customError}}</div>
                    <div layout-padding class="custom-error" ng-if="userForm.avatar.$error.checkImage">{{'MSG10' | messageBind:'Formato'}}</div>
                    <div class="md-errors-spacer"></div>
                </div>

                <md-input-container flex-gt-lg class="md-block">
                    <label>Nome</label>
                    <md-icon class="material-icons">person</md-icon>

                    <input
                            name="name"
                            ng-model="user.name"
                            type="text"
                            custom-error
                            set-touched="{{editMode}}"
                            required
                            mask="*"
                            repeat="50"
                            validate="false"
                            limit="true"
                            md-maxlength="50"
                            ng-disabled="loading || readonly" >

                    <div ng-messages="userForm.name.$error"
                         multiple>
                        <div ng-messages-include="app/components/messages/messages-tpl.html"></div>
                        <div ng-message="customError">{{userForm.name.customError}}</div>
                    </div>
                </md-input-container>

                <div layout-gt-lg="row">
                    <md-input-container flex-gt-sm class="md-block" >
                        <label>E-mail</label>
                        <md-icon class="material-icons" ng-if="!userForm.email.$pending">email</md-icon>
                        <md-icon ><md-progress-circular md-mode="indeterminate" ng-if="userForm.email.$pending" md-diameter="25"></md-progress-circular></md-icon>

                        <input
                                name="email"
                                type="email"
                                flex
                                required
                                md-maxlength="50"
                                check-email="!readonly && !editMode"
                                mask="*"
                                repeat="50"
                                validate="false"
                                limit="true"
                                custom-error
                                set-touched="{{editMode}}"
                                ng-model="user.email"
                                ng-disabled="loading || readonly">

                        <div ng-messages="userForm.email.$error">
                            <div ng-messages-include="app/components/messages/messages-tpl.html"></div>
                            <div ng-message="checkEmail">{{userForm.email.checkEmailError}}</div>
                            <div ng-message="customError">{{userForm.email.customError}}</div>
                        </div>
                    </md-input-container>

                    <div flex="5" hide-xs hide-sm></div>

                    <md-input-container flex-gt-sm class="md-block"  >
                        <label>Telefone</label>
                        <md-icon class="material-icons">phone</md-icon>

                        <input
                                name="phone"
                                type="tel"
                                ng-model="user.phone"
                                custom-error
                                set-touched="{{editMode}}"
                                md-maxlength="20"
                                mask="(99) 9?9999-9999"
                                restrict="reject"
                                clean="true"
                                ng-disabled="loading || readonly"
                                required>

                        <div ng-messages="userForm.phone.$error"
                             multiple>
                            <div ng-message="mask">{{'MSG10' | messageBind:'Telefone'}}</div>
                            <div ng-messages-include="app/components/messages/messages-tpl.html"></div>
                            <div ng-message="customError">{{userForm.phone.customError}}</div>
                        </div>
                    </md-input-container>
                </div>

                <div layout-gt-lg="row" ng-if="!readonly">
                    <md-input-container flex-gt-sm class="md-block"  >
                        <label>Senha</label>
                        <md-icon class="material-icons">lock</md-icon>
                        <input
                                name="password"
                                ng-model="user.password"
                                custom-error
                                set-touched="{{editMode}}"
                                type="password"
                                ng-minlength="8"
                                md-maxlength="14"
                                mask="*"
                                repeat="14"
                                validate="false"
                                limit="true"
                                ng-required="!editMode"
                                check-match="user.password_confirmation"
                                ng-disabled="loading || readonly">

                        <div ng-messages="userForm.password.$error" >
                            <div ng-message="md-maxlength, minlength">{{ 'MSG13' | messageBind}}</div>
                            <div ng-message="checkMatch">{{'MSG9' | messageBind:'As senhas informadas' }}</div>
                            <div ng-messages-include="app/components/messages/messages-tpl.html"></div>
                            <div ng-message="customError">{{userForm.password.customError}}</div>
                        </div>
                    </md-input-container>

                    <div flex="5" hide-xs hide-sm></div>

                    <md-input-container flex-gt-sm class="md-block"  >
                        <label>Confirmação de senha</label>
                        <md-icon class="material-icons">lock</md-icon>

                        <input
                                name="password_confirmation"
                                custom-error
                                set-touched="{{editMode}}"
                                ng-model="user.password_confirmation"
                                type="password"
                                ng-minlength="8"
                                md-maxlength="14"
                                mask="*"
                                repeat="14"
                                validate="false"
                                limit="true"
                                ng-required="!editMode"
                                ng-disabled="loading || readonly">

                        <div ng-messages="userForm.password_confirmation.$error">
                            <div ng-message="md-maxlength, minlength">{{ 'MSG13' | messageBind}}</div>
                            <div ng-message="checkMatch">{{'MSG9' | messageBind:'As senhas informadas' }}</div>
                            <div ng-messages-include="app/components/messages/messages-tpl.html"></div>
                            <div ng-message="customError">{{userForm.password.customError}}</div>
                        </div>
                    </md-input-container>
                </div>

                <div layout="column">
                    <h3 style="margin: 0px;" class="md-title"><md-icon class="mateiral-icons">security</md-icon> Permissões</h3>

                    <md-chips
                            name="permissions"
                            ng-model="user.permissions"
                            readonly="loading || readonly"
                            md-removable="!readonly && !loading"
                            secondary-placeholder="+Permissão"
                            md-require-match="true">
                        <md-autocomplete
                                 md-min-length="0"
                                 ng-if="!loading && !readonly"
                                 ng-disabled="loading || readonly"
                                 md-search-text="searchText"
                                 md-no-cache="true"
                                 md-items="item in filterPermissions(searchText)"
                                 placeholder="Pesquisar..."
                                 md-item-text="item.name">
                            <md-item-template>
                                <span md-highlight-text="true">{{item.name}}</span>
                            </md-item-template>
                        </md-autocomplete>

                        <md-chip-template>
                            <span>
                              {{$chip.name}}
                            </span>
                            <md-tooltip md-direction="top">
                                {{$chip.description}}
                            </md-tooltip>
                        </md-chip-template>

                        <div ng-messages="userForm.permissions.$error">
                            <div ng-message="required">Você <b>precisa</b> selecionar no minímo uma permissão.</div>
                        </div>
                    </md-chips>

                    <md-divider></md-divider>
                </div>

            </div>

        </md-dialog-content>

        <md-dialog-actions ng-if="!readonly" layout="row">
            <span flex></span>
            <md-button class="md-primary md-raised" type="submit" ng-disabled="userForm.$invalid || userForm.email.$pending || loading" >
                Salvar
            </md-button>
            <md-button class="md-warn md-raised" ng-click="cancel()" ng-disabled="loading || readonly">
                Cancelar
            </md-button>
        </md-dialog-actions>

    </form>

</md-dialog>