<md-dialog aria-label="User Form"  flex="auto" flex-gt-sm="55" flex-gt-md="30">

    <form name="userForm" novalidate ng-submit="submit()" >
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="hide()" ng-disabled="loading">
                    <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-progress-linear md-mode="indeterminate" class="md-accent" ng-show="loading"></md-progress-linear>
        <md-dialog-content layout="row" flex layout-padding>
            <div layout="column" flex>

                <div layout="row" >
                    <md-icon class="material-icons">photo</md-icon>

                    <md-card layout="row" layout-align="center center" md-whiteframe="3">
                        <span layout-padding></span>
                        <img class="md-avatar custom-avatar" ng-src="{{user.avatar || '../assets/profile/ic_account_circle_black_48dp_2x.png'}}"/>

                        <md-divider></md-divider>

                        <md-card-actions>
                            <input class="ng-hide" id="input-file-id" name="avatar" type="file" read-to-base64 ng-model="user.avatar" ng-disabled="loading"/>
                            <label for="input-file-id" class="md-button md-raised md-accent" ng-disabled="loading"><md-icon class="material-icons">add_a_photo</md-icon></label>
                        </md-card-actions>

                    </md-card>
                    <span flex></span>
                </div>

                <md-input-container class=" md-icon-float md-block" flex>
                    <label>Nome</label>
                    <md-icon class="material-icons">person</md-icon>

                    <input name="name" ng-model="user.name" type="text" required ng-disabled="loading">

                    <div ng-messages="userForm.name.$error"
                         multiple>
                        <div ng-messages-include="../app/components/messages/messages-tpl.html"></div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block" flex md-is-error="(userForm.email.$pending || userForm.email.$invalid) && userForm.email.$touched">

                    <label>E-mail</label>
                    <md-icon class="material-icons" ng-if="!userForm.email.$pending">email</md-icon>
                    <md-icon ><md-progress-circular md-mode="indeterminate" ng-if="userForm.email.$pending" md-diameter="25"></md-progress-circular></md-icon>

                    <input name="email" ng-model="user.email" type="email" required flex check-email ng-disabled="loading">

                    <div ng-messages="userForm.email.$error">
                        <div ng-messages-include="../app/components/messages/messages-tpl.html"></div>
                        <div ng-message="checkEmail">{{checkEmailError}}</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block" flex>
                    <label>Telefone</label>
                    <md-icon class="material-icons">phone</md-icon>

                    <input name="phone" ng-model="user.phone" type="tel" required ng-disabled="loading">

                    <div ng-messages="userForm.phone.$error"
                         multiple>
                        <div ng-messages-include="../app/components/messages/messages-tpl.html"></div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block" flex>
                    <label>Senha</label>
                    <md-icon class="material-icons">lock</md-icon>
                    <input name="password" ng-model="user.password" type="password" required check-match="user.password_confirmation" ng-disabled="loading">

                    <div ng-messages="userForm.password.$error" >
                        <div ng-message="checkMatch">As senhas informadas não conferem</div>
                        <div ng-messages-include="../app/components/messages/messages-tpl.html"></div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block" flex>
                    <label>Confirmação de senha</label>
                    <md-icon class="material-icons">lock</md-icon>

                    <input name="password_confirmation" ng-model="user.password_confirmation" type="password" required ng-disabled="loading">

                    <div ng-messages="userForm.password_confirmation.$error">
                        <div ng-messages-include="../app/components/messages/messages-tpl.html"></div>
                    </div>
                </md-input-container>

            </div>
        </md-dialog-content>

        <span flex></span>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-primary md-raised" type="submit" ng-disabled="userForm.$invalid || userForm.email.$pending || loading" >
                Salvar
            </md-button>
            <md-button class="md-warn md-raised" ng-click="hide()" ng-disabled="loading">
                Cancelar
            </md-button>
        </md-dialog-actions>

    </form>

</md-dialog>