md-toast.success > .md-toast-content {
  color: black     !important;
  background-color: #00E676 !important;
}

md-toast.error > .md-toast-content {
  color: white !important;
  background-color: #E53935 !important;
}

a.md-button:not([disabled]).md-focused, .md-button:not([disabled]).md-focused {
    background-color: rgba(158,158,158,0.0) !important;
}

.ng-auth-hide{
  display: none !important;
}

.menu-button{
    display: block !important;
    width: 100% !important;
    padding: 6px !important;
    margin: 0 !important;
    text-align: left !important;
}

li.active .menu-button.md-button{
    background-color: rgba(158,158,158,0.4) !important;
}

.truncate{
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.highlight{
  background-color: rgba(255, 235, 59, .5) !important;
}

.md-user-avatar{
  width: 45px !important;
  height: 45px !important;
  border-radius: 50% !important;
}

.custom-avatar{
  -webkit-box-flex: 0 !important;
  -webkit-flex: none !important;
  flex: none !important;
  width: 75px !important;
  height: 75px !important;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
  margin-right: 16px !important;
  border-radius: 50% !important;
  box-sizing: content-box
}

.md-sidenav-left{
    max-width: 260px !important;
}

.fill-height {
    display: flex !important;
    flex: 1 !important;
    min-height: 100% !important;
}

.fill-page{
    overflow: hidden !important;
    width: 100% !important;
    height: 100% !important;
}

.md-page-select{
  margin: 0 !important;
  -webkit-justify-content: flex-end !important;
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
  min-width: 64px !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  font-size: 12px !important;
  color: rgba(0, 0, 0, 0.54) !important;
}

.fab-panel{
  position: fixed !important; bottom: 30px !important; right: 30px !important;
  z-index: 10 !important;
}

.search-card{
  max-height: 55px !important; margin: 0 !important;
}

.search-card > md-input-container .md-input-message-animation{
  margin-top: 0 !important;
  padding-top: 0px !important;
}

.search-card > md-input-container .md-char-counter{
  margin: -10px !important;
  padding: 0px !important;
}

md-select.md-page-select > .md-select-value {
  padding: 0 !important;
  min-width: 0 !important;
  min-height: 24px !important;
  border-bottom: 0 !important;
  -webkit-flex: 0 0 auto !important;
  -ms-flex: 0 0 auto !important;
  flex: 0 0 auto !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  border-bottom-style: solid !important;
  background-color: transparent !important;
  position: relative !important;
  box-sizing: content-box !important;
  -webkit-flex-grow: 1 !important;
  flex-grow: 1 !important;
}

.input-view {
  font-size: 14px !important;
  font-weight: 500 !important;
  letter-spacing: 0.010em !important;
  margin: 0 0 0 0 !important;
  line-height: 1.6em !important;
  border: none 0px !important;
  background-color: transparent !important;
  color: rgba(0,0,0,0.54) !important;
}

.md-step.md-complete md-step-label-wrapper::before {
  content: '\00A0' !important;
}
.md-step.md-complete.md-active md-step-label-wrapper::before {
  content: '\00A0' !important;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}