<md-card md-whiteframe="7" layout="column">

    <md-toolbar>
        <div class="md-toolbar-tools" layout="row">
            <md-button class="md-icon-button" ng-click="$controller.voltar()">
                <md-icon class="material-icons">arrow_back</md-icon>
                <md-tooltip md-direction="top">
                    Voltar
                </md-tooltip>
            </md-button>
            <h2 md-truncate>
                <md-icon class="material-icons">face</md-icon>
                <span>Dados e necessidades</span>
            </h2>
            <span flex></span>
        </div>
    </md-toolbar>

    <md-progress-linear md-mode="indeterminate" class="md-accent" ng-show="$controller.loading"></md-progress-linear>

    <md-content>
        <md-steppers md-stretch-steppers="always" md-dynamic-height md-selected="$controller.selected" md-busy-text="'Carregando...'" md-busy="$controller.loading" ng-disabled="$controller.loading">
            <md-step label="Doc. Apresentada" md-complete="$controller.dadosenecessidades.documentacao_completado">
                <md-divider></md-divider>
                <md-content layout="column" ui-view="documentacao"></md-content>
            </md-step>
            <md-step label="Nec. de atendimento" md-complete="$controller.dadosenecessidades.necessidades_completado" ng-disabled="!$controller.dadosenecessidades.documentacao_completado">
                <md-divider></md-divider>
                <md-content layout="column" ui-view="necessidades"></md-content>
            </md-step>
            <md-step label="Rede de Apoio" md-complete="$controller.dadosenecessidades.rededeapoio_completado" ng-disabled="!$controller.dadosenecessidades.necessidades_completado">
                <md-divider></md-divider>
                <md-content layout="column" ui-view="rededeapoio"></md-content>
            </md-step>
            <md-step label="Ativ. que Realizava" md-complete="$controller.dadosenecessidades.atividades_completado" ng-disabled="!$controller.dadosenecessidades.rededeapoio_completado">
                <md-divider></md-divider>
                <md-content layout="column" ui-view="atividades"></md-content>
            </md-step>
            <md-step label="Trat. Externos" md-complete="$controller.dadosenecessidades.tratamentos_completado" ng-disabled="!$controller.dadosenecessidades.atividades_completado">
                <md-divider></md-divider>
                <md-content layout="column" ui-view="tratamentos"></md-content>
            </md-step>
            <md-step label="Religiosidade"md-complete="$controller.dadosenecessidades.religiosidade_completado" ng-disabled="!$controller.dadosenecessidades.tratamentos_completado">
                <md-divider></md-divider>
                <md-content layout="column" ui-view="religiosidade"></md-content>
            </md-step>
        </md-steppers>

        <span flex></span>
        <md-divider></md-divider>
        <div layout="row" layout-align="end center" ng-if="!$controller.readOnly">
            <md-button type="submit" class="md-accent md-raised" ng-click="$controller.saveAndNext()" ng-disabled="$controller.loading || !$controller.canSaveAndNext()">
                {{ $controller.selected < 5 ? 'Salvar e Continuar' : 'Salvar' }}
            </md-button>
            <md-button class="md-warn" ng-click="$controller.finish()" ng-disabled="$controller.loading">
                {{ $controller.selected == 0 ? 'Voltar' : 'Finalizar' }}
            </md-button>
        </div>
        <div layout="row" layout-align="end center" ng-if="$controller.readOnly">
            <md-button type="submit" class="md-accent md-raised" ng-click="$controller.finish()" ng-disabled="$controller.loading">
                Alterar
            </md-button>
            <md-button class="md-warn" ng-click="$controller.finish()" ng-disabled="$controller.loading">
                Voltar
            </md-button>
        </div>
    </md-content>
</md-card>