<md-card md-whiteframe="7" layout="column" ng-cloak>

    <md-toolbar>
        <div class="md-toolbar-tools" layout="row">
            <md-button class="md-icon-button" ng-click="$controller.back()">
                <md-icon class="material-icons">arrow_back</md-icon>
                <md-tooltip md-direction="top">
                    Voltar
                </md-tooltip>
            </md-button>
            <h2 md-truncate>
                <md-icon class="material-icons">face</md-icon>
                <span>Dados e Necessidades</span>
            </h2>
            <span flex></span>
        </div>
    </md-toolbar>

    <md-progress-linear md-mode="indeterminate" class="md-accent" ng-show="$controller.loading"></md-progress-linear>

    <md-content layout="column" flex>

        <md-tabs class="stepper" flex md-dynamic-height md-border-bottom md-selected="$controller.selected">
            <md-tab>
                <md-tab-label>
                    <md-step ng-class="{'md-linear':$controller.readOnly ,'md-complete':$controller.dadosenecessidades.documentacao_completado}"> Doc. Apresentada </md-step>
                </md-tab-label>
                <md-tab-body>
                    <md-divider></md-divider>
                    <md-content layout="column" ui-view="documentacao"></md-content>
                </md-tab-body>
            </md-tab>
            <md-tab ng-disabled="!$controller.dadosenecessidades.documentacao_completado">
                <md-tab-label>
                    <md-step ng-class="{'md-linear':$controller.readOnly ,'md-complete':$controller.dadosenecessidades.necessidades_completado}"> Nec. de atendimento </md-step>
                </md-tab-label>
                <md-tab-body>
                    <md-divider></md-divider>
                    <md-content layout="column" ui-view="necessidades"></md-content>
                </md-tab-body>
            </md-tab>
            <md-tab ng-disabled="!$controller.dadosenecessidades.necessidades_completado">
                <md-tab-label>
                    <md-step ng-class="{'md-linear':$controller.readOnly ,'md-complete':$controller.dadosenecessidades.rededeapoio_completado}"> Rede de Apoio </md-step>
                </md-tab-label>
                <md-tab-body>
                    <md-divider></md-divider>
                    <md-content layout="column" ui-view="rededeapoio"></md-content>
                </md-tab-body>
            </md-tab>
            <md-tab ng-disabled="!$controller.dadosenecessidades.rededeapoio_completado">
                <md-tab-label>
                    <md-step ng-class="{'md-linear':$controller.readOnly ,'md-complete':$controller.dadosenecessidades.atividades_completado}"> Ativ. que Realizava </md-step>
                </md-tab-label>
                <md-tab-body>
                    <md-divider></md-divider>
                    <md-content layout="column" ui-view="atividades"></md-content>
                </md-tab-body>
            </md-tab>
            <md-tab ng-disabled="!$controller.dadosenecessidades.atividades_completado">
                <md-tab-label>
                    <md-step ng-class="{'md-linear':$controller.readOnly ,'md-complete':$controller.dadosenecessidades.tratamentos_completado}" > Trat. Externos </md-step>
                </md-tab-label>
                <md-tab-body>
                    <md-divider></md-divider>
                    <md-content layout="column" ui-view="tratamentos"></md-content>
                </md-tab-body>
            </md-tab>
            <md-tab ng-disabled="!$controller.dadosenecessidades.tratamentos_completado">
                <md-tab-label>
                    <md-step ng-class="{'md-linear':$controller.readOnly ,'md-complete':$controller.dadosenecessidades.religiosidade_completado}" > Religiosidade </md-step>
                </md-tab-label>
                <md-tab-body>
                    <md-divider></md-divider>
                    <md-content layout="column" ui-view="religiosidade"></md-content>
                </md-tab-body>
            </md-tab>
        </md-tabs>

        <span flex></span>
        <md-divider></md-divider>
        <div layout="row" layout-align="end center" ng-if="!$controller.readOnly">
            <md-button class="md-accent md-raised" ng-click="$controller.saveAndNext()" ng-disabled="$controller.loading || !$controller.canSaveAndNext()">
                {{ ($controller.selected != 5 ? "Salvar e Continuar" : "Salvar") }}
            </md-button>
            <md-button class="md-warn" ng-click="$controller.prev()" ng-disabled="$controller.loading">
                {{ ($controller.selected == 0 ? "Voltar" : "Finalizar") }}
            </md-button>
        </div>
        <div layout="row" layout-align="end center" ng-if="$controller.readOnly">
            <md-button class="md-accent md-raised" ng-click="$controller.changeToEditMode()" ng-disabled="$controller.loading">
                Alterar
            </md-button>
            <md-button class="md-warn" ng-click="$controller.prev()" ng-disabled="$controller.loading">
                Voltar
            </md-button>
        </div>
    </md-content>
</md-card>