<ng-form name="form" ng-init="$controller.pushScope(this)">
    <md-content layout="column" layout-padding>

        <div class="orpha-radio-group" layout="row">
            <span class="md-subhead orpha-radio-label">Certidão de Nascimento</span>
            <md-radio-group
                    ng-init="$controller.dadosenecessidades.necessidades_enfermagem = $controller.dadosenecessidades.necessidades_enfermagem || false"
                    ng-model="$controller.dadosenecessidades.necessidades_enfermagem"
                    ng-required="true"
                    ng-disabled="$controller.readOnly"
                    layout="row">
                <md-radio-button ng-value="true" class="md-primary">Sim</md-radio-button>
                <md-radio-button ng-value="false">Não</md-radio-button>
            </md-radio-group>
        </div>

        <text-area-input name="reservista" label="Outros" is-disabled="$controller.readOnly" ng-model="$controller.dadosenecessidades.documentacao_outros"></text-area-input>

    </md-content>
</ng-form>

<!--
    <date-input name="dt_nascimento" title="Data de Nascimento" label="Dt. Nascimento" is-disabled="$form.readOnly || $form.isDisabled" is-required="true" ng-model="$form.crianca.dt_nascimento" date-mask="39/19/9999">
        <error-message error="required" message="{{ 'MSG2' | message }}"></error-message>
    </date-input>

    <text-input  max-length="50" name="filiacao" label="Filiação" is-disabled="$form.readOnly || $form.isDisabled" is-required="true" ng-model="$form.crianca.filiacao">
        <error-message error="required" message="{{ 'MSG2' | message }}"></error-message>
    </text-input>

    <text-input  max-length="50" name="responsavel" label="Responsável" is-disabled="$form.readOnly || $form.isDisabled" is-required="true" ng-model="$form.crianca.responsavel">
        <error-message error="required" message="{{ 'MSG2' | message }}"></error-message>
    </text-input>

    <text-input  max-length="50" name="grau_parentesco" label="Grau de Parentesco" is-disabled="$form.readOnly || $form.isDisabled" is-required="true" ng-model="$form.crianca.grau_parentesco">
        <error-message error="required" message="{{ 'MSG2' | message }}"></error-message>
    </text-input>

    <text-input  max-length="50" name="processo" label="Processo" is-disabled="$form.readOnly || $form.isDisabled" is-required="true" ng-model="$form.crianca.processo">
        <error-message error="required" message="{{ 'MSG2' | message }}"></error-message>
    </text-input>

    <text-input  max-length="50" name="comarca" label="Comarca" is-disabled="$form.readOnly || $form.isDisabled" is-required="true" ng-model="$form.crianca.comarca">
        <error-message error="required" message="{{ 'MSG2' | message }}"></error-message>
    </text-input>-->