<ng-form name="form" ng-init="$controller.pushScope(this)">
    <md-content layout="column" layout-padding>
        <!-- Group -->
        <div  flex layout="row" class="orpha-radio-group" layout-align="start center">
            <div class="orpha-radio-label">
                <span class="md-subhead">Médico</span>
            </div>
            <md-radio-group
                    ng-init="medico_detalhes = ($controller.dadosenecessidades.tratamentos_medico != null && $controller.dadosenecessidades.tratamentos_medico != '') || false"
                    ng-model="medico_detalhes"
                    ng-required="true"
                    ng-disabled="$controller.readOnly" layout="row">
                <md-radio-button ng-value="true" class="md-primary">Continuar</md-radio-button>
                <md-radio-button ng-value="false" ng-click="$controller.dadosenecessidades.tratamentos_medico = null">Inserir</md-radio-button>
            </md-radio-group>
        </div>
        <text-input ng-show="medico_detalhes" flex max-length="50" name="escolarização" label="Detalhes" is-disabled="$controller.readOnly" is-required="medico_detalhes" ng-model="$controller.dadosenecessidades.tratamentos_medico">
            <error-message error="required" message="{{ 'MSG2' | message }}"></error-message>
        </text-input>
        <!-- End Group -->

        <!-- Group -->
        <div  flex layout="row" class="orpha-radio-group" layout-align="start center">
            <div class="orpha-radio-label">
                <span class="md-subhead">Nutrição</span>
            </div>
            <md-radio-group
                    ng-init="nutricao_detalhes = ($controller.dadosenecessidades.tratamentos_nutricao != null && $controller.dadosenecessidades.tratamentos_nutricao != '') || false"
                    ng-model="nutricao_detalhes"
                    ng-required="true"
                    ng-disabled="$controller.readOnly" layout="row">
                <md-radio-button ng-value="true" class="md-primary">Continuar</md-radio-button>
                <md-radio-button ng-value="false" ng-click="$controller.dadosenecessidades.tratamentos_nutricao = null">Inserir</md-radio-button>
            </md-radio-group>
        </div>
        <text-input ng-show="nutricao_detalhes" flex max-length="50" name="escolarização" label="Detalhes" is-disabled="$controller.readOnly" is-required="nutricao_detalhes" ng-model="$controller.dadosenecessidades.tratamentos_nutricao">
            <error-message error="required" message="{{ 'MSG2' | message }}"></error-message>
        </text-input>
        <!-- End Group -->

        <!-- Group -->
        <div  flex layout="row" class="orpha-radio-group" layout-align="start center">
            <div class="orpha-radio-label">
                <span class="md-subhead">Odontologia</span>
            </div>
            <md-radio-group
                    ng-init="odontologia_detalhes = ($controller.dadosenecessidades.tratamentos_odontologia != null && $controller.dadosenecessidades.tratamentos_odontologia != '') || false"
                    ng-model="odontologia_detalhes"
                    ng-required="true"
                    ng-disabled="$controller.readOnly" layout="row">
                <md-radio-button ng-value="true" class="md-primary">Continuar</md-radio-button>
                <md-radio-button ng-value="false" ng-click="$controller.dadosenecessidades.tratamentos_odontologia = null">Inserir</md-radio-button>
            </md-radio-group>
        </div>
        <text-input ng-show="odontologia_detalhes" flex max-length="50" name="escolarização" label="Detalhes" is-disabled="$controller.readOnly" is-required="odontologia_detalhes" ng-model="$controller.dadosenecessidades.tratamentos_odontologia">
            <error-message error="required" message="{{ 'MSG2' | message }}"></error-message>
        </text-input>
        <!-- End Group -->

        <!-- Group -->
        <div  flex layout="row" class="orpha-radio-group" layout-align="start center">
            <div class="orpha-radio-label">
                <span class="md-subhead">Psicologia</span>
            </div>
            <md-radio-group
                    ng-init="psicologia_detalhes = ($controller.dadosenecessidades.tratamentos_psicologia != null && $controller.dadosenecessidades.tratamentos_psicologia != '') || false"
                    ng-model="psicologia_detalhes"
                    ng-required="true"
                    ng-disabled="$controller.readOnly" layout="row">
                <md-radio-button ng-value="true" class="md-primary">Continuar</md-radio-button>
                <md-radio-button ng-value="false" ng-click="$controller.dadosenecessidades.tratamentos_psicologia = null">Inserir</md-radio-button>
            </md-radio-group>
        </div>
        <text-input ng-show="psicologia_detalhes" flex max-length="50" name="escolarização" label="Detalhes" is-disabled="$controller.readOnly" is-required="psicologia_detalhes" ng-model="$controller.dadosenecessidades.tratamentos_psicologia">
            <error-message error="required" message="{{ 'MSG2' | message }}"></error-message>
        </text-input>
        <!-- End Group -->

        <!-- Group -->
        <div  flex layout="row" class="orpha-radio-group" layout-align="start center">
            <div class="orpha-radio-label">
                <span class="md-subhead">Psiquiatria</span>
            </div>
            <md-radio-group
                    ng-init="psiquiatria_detalhes = ($controller.dadosenecessidades.tratamentos_psiquiatria != null && $controller.dadosenecessidades.tratamentos_psiquiatria != '') || false"
                    ng-model="psiquiatria_detalhes"
                    ng-required="true"
                    ng-disabled="$controller.readOnly" layout="row">
                <md-radio-button ng-value="true" class="md-primary">Continuar</md-radio-button>
                <md-radio-button ng-value="false" ng-click="$controller.dadosenecessidades.tratamentos_psiquiatria = null">Inserir</md-radio-button>
            </md-radio-group>
        </div>
        <text-input ng-show="psiquiatria_detalhes" flex max-length="50" name="escolarização" label="Detalhes" is-disabled="$controller.readOnly" is-required="psiquiatria_detalhes" ng-model="$controller.dadosenecessidades.tratamentos_psiquiatria">
            <error-message error="required" message="{{ 'MSG2' | message }}"></error-message>
        </text-input>
        <!-- End Group -->

        <!-- Group -->
        <div  flex layout="row" class="orpha-radio-group" layout-align="start center">
            <div class="orpha-radio-label">
                <span class="md-subhead">Serviço Social</span>
            </div>
            <md-radio-group
                    ng-init="servico_social_detalhes = ($controller.dadosenecessidades.tratamentos_servico_social != null && $controller.dadosenecessidades.tratamentos_servico_social != '') || false"
                    ng-model="servico_social_detalhes"
                    ng-required="true"
                    ng-disabled="$controller.readOnly" layout="row">
                <md-radio-button ng-value="true" class="md-primary">Continuar</md-radio-button>
                <md-radio-button ng-value="false" ng-click="$controller.dadosenecessidades.tratamentos_servico_social = null">Inserir</md-radio-button>
            </md-radio-group>
        </div>
        <text-input ng-show="servico_social_detalhes" flex max-length="50" name="escolarização" label="Detalhes" is-disabled="$controller.readOnly" is-required="servico_social_detalhes" ng-model="$controller.dadosenecessidades.tratamentos_servico_social">
            <error-message error="required" message="{{ 'MSG2' | message }}"></error-message>
        </text-input>
        <!-- End Group -->

        <!-- Group -->
        <div  flex layout="row" class="orpha-radio-group" layout-align="start center">
            <div class="orpha-radio-label">
                <span class="md-subhead">Uso/abuso de drogas</span>
            </div>
            <md-radio-group
                    ng-init="uso_drogras_detalhes = ($controller.dadosenecessidades.tratamentos_uso_drogras != null && $controller.dadosenecessidades.tratamentos_uso_drogras != '') || false"
                    ng-model="uso_drogras_detalhes"
                    ng-required="true"
                    ng-disabled="$controller.readOnly" layout="row">
                <md-radio-button ng-value="true" class="md-primary">Continuar</md-radio-button>
                <md-radio-button ng-value="false" ng-click="$controller.dadosenecessidades.tratamentos_uso_drogras = null">Inserir</md-radio-button>
            </md-radio-group>
        </div>
        <text-input ng-show="uso_drogras_detalhes" flex max-length="50" name="escolarização" label="Detalhes" is-disabled="$controller.readOnly" is-required="uso_drogras_detalhes" ng-model="$controller.dadosenecessidades.tratamentos_uso_drogras">
            <error-message error="required" message="{{ 'MSG2' | message }}"></error-message>
        </text-input>
        <!-- End Group -->

        <!-- Group -->
        <div  flex layout="row" class="orpha-radio-group" layout-align="start center">
            <div class="orpha-radio-label">
                <span class="md-subhead">Atend. Hospitalar/Emergência</span>
            </div>
            <md-radio-group
                    ng-init="atendimento_hospitalar_detalhes = ($controller.dadosenecessidades.tratamentos_atendimento_hospitalar != null && $controller.dadosenecessidades.tratamentos_atendimento_hospitalar != '') || false"
                    ng-model="atendimento_hospitalar_detalhes"
                    ng-required="true"
                    ng-disabled="$controller.readOnly" layout="row">
                <md-radio-button ng-value="true" class="md-primary">Continuar</md-radio-button>
                <md-radio-button ng-value="false" ng-click="$controller.dadosenecessidades.tratamentos_atendimento_hospitalar = null">Inserir</md-radio-button>
            </md-radio-group>
        </div>
        <text-input ng-show="atendimento_hospitalar_detalhes" flex max-length="50" name="escolarização" label="Detalhes" is-disabled="$controller.readOnly" is-required="atendimento_hospitalar_detalhes" ng-model="$controller.dadosenecessidades.tratamentos_atendimento_hospitalar">
            <error-message error="required" message="{{ 'MSG2' | message }}"></error-message>
        </text-input>
        <!-- End Group -->

        <text-area-input name="outros" label="Outros" is-disabled="$controller.readOnly" ng-model="$controller.dadosenecessidades.tratamentos_outros">
        </text-area-input>

    </md-content>
</ng-form>
