<div>

    <text-input max-length="50" name="nome" label="Nome" is-disabled="$form.readOnly || $form.isDisabled" is-required="true" ng-model="$form.crianca.nome">
        <error-message error="required" message="{{ 'MSG2' | message }}"></error-message>
    </text-input>

    <date-input name="dt_nascimento" title="Data de Nascimento" label="Dt. Nascimento" is-disabled="$form.readOnly || $form.isDisabled" is-required="true" ng-model="$form.crianca.dt_nascimento">
        <error-message error="required" message="{{ 'MSG2' | message }}"></error-message>
    </date-input>

    <text-input  max-length="50" name="filiacao" label="Filiação" is-disabled="$form.readOnly || $form.isDisabled" is-required="true" ng-model="$form.crianca.filiacao">
        <error-message error="required" message="{{ 'MSG2' | message }}"></error-message>
    </text-input>

    <text-input  max-length="50" name="responsavel" label="Responsável" is-disabled="$form.readOnly || $form.isDisabled" is-required="true" ng-model="$form.crianca.responsavel">
        <error-message error="required" message="{{ 'MSG2' | message }}"></error-message>
    </text-input>

    <text-input  max-length="50" name="grau_parentesco" label="Grau de Parentesco" is-disabled="$form.readOnly || $form.isDisabled" is-required="true" ng-model="$form.crianca.grau_parentesco">
        <error-message error="required" message="{{ 'MSG2' | message }}"></error-message>
    </text-input>

    <text-input  max-length="50" name="processo" label="Processo" is-disabled="$form.readOnly || $form.isDisabled" is-required="true" ng-model="$form.crianca.processo">
        <error-message error="required" message="{{ 'MSG2' | message }}"></error-message>
    </text-input>

    <text-input  max-length="50" name="comarca" label="Comarca" is-disabled="$form.readOnly || $form.isDisabled" is-required="true" ng-model="$form.crianca.comarca">
        <error-message error="required" message="{{ 'MSG2' | message }}"></error-message>
    </text-input>

</div>