<form name="pwForm" flex layout="row" layout-align="center center" novalidate ng-submit="$ctrl.submit()">
    <md-card class="md-padding" flex-xs="100" flex-sm="90" flex-md="60" flex-lg="50" flex="30" md-whiteframe="10">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">
                   <md-icon class="material-icons">security</md-icon> Resetar Senha
                </span>
            </md-card-title-text>
        </md-card-title>
        <md-progress-linear ng-show="$ctrl.loading"></md-progress-linear>
        <md-card-content>
            <!--E-mail-->
            <text-input name="email" label="E-mail" ng-model="$ctrl.credentials.email" icon="person" type="email" is-required="true"
                is-disabled="true">

                <error-message name="required" message="{{ 'MSG2' | message }}"></error-message>
                <error-message name="email" message="{{ 'MSG10' | message:{'attribute':'E-mail'} }}"></error-message>

            </text-input>
            <!--Senha-->
            <text-input name="password" label="Senha" ng-model="$ctrl.credentials.password" min-length="8" max-length="14" icon="lock"
                type="password" is-required="true" is-disabled="$ctrl.loading">

                <error-message name="required" message="{{ 'MSG2' | message }}"></error-message>
                <error-message name="md-maxlength, maxlength, minlength" message="{{ 'MSG11' | message:{min:8, max:14} }}"></error-message>

            </text-input>
            <!--C/ Senha-->
            <text-input name="password_confirmation" label="Confirmação de senha" ng-model="$ctrl.credentials.password_confirmation" icon="lock" type="password"
                match="$ctrl.credentials.password" check-match="true" is-required="true" is-disabled="$ctrl.loading" min-length="8" max-length="14">

                <error-message name="required" message="{{ 'MSG2' | message }}"></error-message>
                <error-message name="match, md-maxlength, maxlength, minlength" message="{{ 'MSG9' | message:{attribute:'As senhas informadas'} }}"></error-message>

            </text-input>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-actions layout="row" layout-align="start center">
            <md-button type="submit" class="md-primary md-raised" ng-disabled="pwForm.$invalid || $ctrl.loading">
                Resetar
            </md-button>
        </md-card-actions>
    </md-card>
</form>