<md-card ><!--style="padding:15px 5px 15px 5px;" layout="row" -->
    <md-card-header  layout="row" layout-align="start center" style="padding:15px 5px 15px 5px;"> <!--md-colors="{backgroundColor: 'light'}" -->
        <md-card-avatar flex="initial" style="margin: 0px 10px;" >
               <img class="md-user-avatar" ng-src="{{ $ctrl.user.avatar || $ctrl.fallbackimg }}">
        </md-card-avatar>
        <md-card-header-text>
            <div class="md-title" >{{ $ctrl.user.name }}</div>
            <div class="md-subhead truncate"  style="width: 145px;">{{ $ctrl.user.email }}</div>
        </md-card-header-text>
        <span flex="auto" style="background-color: pink;"></span>
        <md-menu ng-show="$ctrl.showActions">

            <a href ng-show="$ctrl.showActions"
                       ng-click="$mdMenu.open($event)"
                       aria-label="open"
                       class="md-accent" style="cursor: pointer;">
                <md-icon md-colors="{color: 'accent'}" class="material-icons">keyboard_arrow_down</md-icon>
            </a>

            <md-menu-content width="2" md-position-mode="target-right target">
                <md-menu-item >
                    <md-button class="md-default-theme md-ink-ripple" type="button" role="perfil" ng-click="$ctrl.profileClick()">
                        <md-icon class="material-icons" aria-hidden="true">person</md-icon>
                        Perfil
                    </md-button>
                </md-menu-item>
                <md-divider></md-divider>
                <md-menu-item >
                    <md-button class="md-default-theme md-ink-ripple" type="button" role="logout" ng-click="$ctrl.logoutClick()">
                        <md-icon class="material-icons" aria-hidden="true">exit_to_app</md-icon>
                        Sair
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </md-card-header>
</md-card>