<md-dialog md-theme="default" flex-gt-sm="30">
    <form name="pwForm" ng-submit="submit()" novalidate>
        <md-dialog-content class="md-dialog-content">
            <h2 class="md-title ng-binding">Alterar senha</h2><br/>

                <md-input-container class="md-block" >
                    <label>Senha</label>
                    <input
                            name="password"
                            ng-model="password"
                            type="password"
                            ng-minlength="8"
                            md-maxlength="14"
                            mask="*"
                            repeat="14"
                            validate="false"
                            limit="true"
                            required
                            check-match="password_confirmation"
                            ng-disabled="loading">

                    <div ng-messages="pwForm.password.$error" >
                        <div ng-message="md-maxlength, minlength">{{ 'MSG13' | messageBind}}</div>
                        <div ng-message="checkMatch">{{'MSG9' | messageBind:'As senhas informadas' }}</div>
                        <div ng-messages-include="app/components/messages/messages-tpl.html"></div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block"  >
                    <label>Confirmação de senha</label>

                    <input
                            name="password_confirmation"
                            ng-model="password_confirmation"
                            type="password"
                            ng-minlength="8"
                            md-maxlength="14"
                            mask="*"
                            repeat="14"
                            validate="false"
                            limit="true"
                            required
                            ng-disabled="loading">

                    <div ng-messages="pwForm.password_confirmation.$error">
                        <div ng-message="md-maxlength, minlength">{{ 'MSG13' | messageBind}}</div>
                        <div ng-message="checkMatch">{{'MSG9' | messageBind:'As senhas informadas' }}</div>
                        <div ng-messages-include="app/components/messages/messages-tpl.html"></div>
                    </div>
                </md-input-container>



        </md-dialog-content>
        <md-dialog-actions>
            <md-button type="submit" class="md-primary md-confirm-button md-button md-default-theme md-ink-ripple" ng-disabled="pwForm.$invalid">
                Salvar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>