<form name="forgetForm" flex layout="row" layout-align="center center" md-colors="{backgroundColor:'default-primary'}" novalidate ng-submit="submit()" >
    <md-card  class="md-padding" flex-xs="100" flex-sm="90" flex-md="60" flex-lg="50" flex="30" md-whiteframe="10">
            <md-button class="md-icon-button md-raised md-primary" ng-click="goBack()">
                <md-icon class="material-icons">arrow_back</md-icon>
            </md-button>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">
                   Recuperar Senha
                </span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <md-input-container class="md-icon-float md-block">
                <label>E-mail</label>
                <md-icon class="material-icons">person</md-icon>
                <input name="email" ng-model="email" type="email" ng-required="true" ng-disabled="loading">
                <div ng-messages="forgetForm.email.$error">
                    <div ng-messages-include="app/components/messages/messages-tpl.html"></div>
                </div>
            </md-input-container>
        </md-card-content>
        <md-progress-linear ng-if="loading" ></md-progress-linear>
        <md-divider></md-divider>
        <md-card-actions layout="row" layout-align="start center">
            <md-button type="submit" class="md-raised md-primary" ng-disabled="forgetForm.$invalid || loading">Enviar</md-button>
        </md-card-actions>
    </md-card>
</form>