<form >
    <md-content class="md-padding" layout-gt-sm="row" layout-align-gt-sm="center center">
        <md-card flex-gt-sm="50" >
            <md-card-title>
                <md-card-title-text>
                <span class="md-headline">
                   <md-icon class="material-icons">lock</md-icon> Acessar
                </span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-input-container class="md-icon-float md-block">
                    <!-- Use floating label instead of placeholder -->
                    <label>Usuário</label>
                    <md-icon class="material-icons">person</md-icon>
                    <input ng-model="username" type="text" required>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Senha</label>
                    <md-icon class="material-icons">lock</md-icon>
                    <input ng-model="password" type="password"  required>
                </md-input-container>
                <md-checkbox class="md-primary" ng-model="remember" aria-label="Lembrar-me">
                    Lembrar-me
                </md-checkbox>
            </md-card-content>
            <md-divider></md-divider>
            <md-card-actions layout="row" layout-align="start center">
                <md-button type="submit" class="md-raised md-primary" >Acessar</md-button>
            </md-card-actions>
        </md-card>
    </md-content>
</form>