<md-card >
    <md-card-header layout="row" md-colors="{backgroundColor: 'default-primary-100'}" >
        <md-card-avatar>
               <img class="md-user-avatar" ng-src="{{user.avatar || '/assets/profile/ic_account_circle_black_48dp_2x.png'}}">
        </md-card-avatar>
        <md-card-header-text flex>
            <span class="md-title truncate" style="min-width: 120px;">{{user.name}}</span>
            <span class="md-subhead truncate" style="min-width: 120px;">{{user.email}}</span>
        </md-card-header-text>
        <span flex></span>
        <md-menu ng-show="showActions">
            <md-button ng-show="showActions" class="md-icon-button launch md-accent" aria-label="icon" ng-click="$mdOpenMenu($event)">
                <md-icon class="material-icons">keyboard_arrow_down</md-icon>
            </md-button>
            <md-menu-content width="2" md-position-mode="target-right target">
                <md-menu-item >
                    <md-button class="md-default-theme md-ink-ripple" type="button" role="perfil" ng-click="profileClick()">
                        <md-icon class="material-icons" aria-hidden="true">person</md-icon>
                        Perfil
                    </md-button>
                </md-menu-item>
                <md-divider></md-divider>
                <md-menu-item >
                    <md-button class="md-default-theme md-ink-ripple" type="button" role="logout" ng-click="logoutClick()">
                        <md-icon class="material-icons" aria-hidden="true">exit_to_app</md-icon>
                        Sair
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </md-card-header>
</md-card>