
<md-dialog aria-label="User Form"  flex="auto" flex-gt-sm="60" flex-gt-md="50" layout="column">
    <form name="userForm" layout="column" flex="100" ng-submit="$ctrl.submit()" novalidate>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{$ctrl.title}} {{ $ctrl.user.deleted_at ? '(Inativo)' : ''}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="$ctrl.close()" ng-disabled="$ctrl.loading">
                    <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-progress-linear md-mode="indeterminate" class="md-accent" ng-show="$ctrl.loading || userForm.$pending"></md-progress-linear>

        <md-content flex>
            <user-user user="$ctrl.user" errors="$ctrl.serverErrors" read-only="$ctrl.readOnly" is-disabled="$ctrl.readOnly || $ctrl.loading" is-password-field-required="$ctrl.user.id == null || $ctrl.user.id == ''"></user-user>
        </md-content>

        <span flex></span>
        <md-divider></md-divider>

        <md-dialog-actions ng-if="!$ctrl.readOnly"  layout="row" layout-align="end center">
            <md-button type="submit" class="md-accent md-raised" ng-disabled="$ctrl.loading || userForm.$invalid || userForm.$pending">
                Salvar
            </md-button>
            <md-button class="md-warn" ng-click="$ctrl.cancel()" ng-disabled="$ctrl.loading">
                Cancelar
            </md-button>
        </md-dialog-actions>

        <md-dialog-actions ng-if="$ctrl.readOnly" layout="row" layout-align="end center">
            <md-button  ng-click="$ctrl.changeToEditMode()" class="md-primary md-raised" ng-if="$ctrl.user.deleted_at == null" ng-disabled="$ctrl.loading">
                Alterar
            </md-button>
            <md-button class="md-primary md-raised" ng-click="$ctrl.enableUser()" ng-if="$ctrl.user.deleted_at != null" ng-disabled="$ctrl.loading">
                Ativar
            </md-button>
            <md-button ng-click="$ctrl.close()" ng-disabled="$ctrl.loading">
                Voltar
            </md-button>
        </md-dialog-actions>

    </form>
</md-dialog>