<md-dialog md-theme="default" flex-gt-sm="30">
    <form name="pwForm" ng-submit="$ctrl.submitPassword()" novalidate layout="column" flex="100">
        <md-content class="md-dialog-content" flex>
            <h2 class="md-title ng-binding">Alterar senha</h2><br/>

            <text-input max-length="14" min-length="8" name="Senha" type="password" icon="lock" label="Senha" is-disabled="$ctrl.loading" is-required="true" ng-model="$ctrl.user.password">
                <error-message name="required" message="{{ 'MSG2' | message }}"></error-message>
                <error-message name="minlength" message="{{ 'MSG11' | message:{min:8, max:14} }}"></error-message>
            </text-input>

            <text-input max-length="14" min-length="8" name="C_Senha" type="password" icon="lock" label="Confirmação de Senha" is-disabled="$ctrl.loading" is-required="true" ng-model="$ctrl.user.password_confirmation" match="$ctrl.user.password" check-match="true">
                <error-message name="required" message="{{ 'MSG2' | message }}"></error-message>
                <error-message name="match" message="{{ 'MSG9' | message:{attribute:'As senhas'} }}"></error-message>
            </text-input>
            
        </md-content>
        <span flex-gt-sm></span>
        <md-dialog-actions>
            <md-button aria-label="salve" type="submit" class="md-primary md-confirm-button md-button md-default-theme md-ink-ripple" ng-disabled="pwForm.$invalid">
                Salvar
            </md-button>
            <md-button aria-label="cancel" class="md-primary md-confirm-button md-button md-default-theme md-ink-ripple" ng-click="$ctrl.cancelDialog()">
                Cancelar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>